@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<h1>Login</h1>

<h5 style="color: red;">@ViewBag.Error</h5>
<h5 style="color: lawngreen;">@ViewBag.Create</h5>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div class="form-group">
                <label class="control-label">Username</label>
                <input name="username" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input name="password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
                <p>Dont Have A Profile? <a asp-action="Create" asp-controller="TblUsers">Create New</a></p>
            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
