@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:red;">ERROR</h1>
    <p>The page you have tried to access is only available to the website admin.</p>
    <p>Please go back</p>
</div>
