@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="color:lawngreen;">Welcome</h1>

<p>This is the page where admins begin. from here you have access to all the links</p>
<p><a asp-action="index" asp-controller="Bases">Bases Table</a></p>
<p><a asp-action="index" asp-controller="Rents">Rents Table</a></p>
<p><a asp-action="index" asp-controller="Vehicles">Vehicle Table</a></p>
<p><a asp-action="index" asp-controller="Buys">Buys Table</a></p>
<p><a asp-action="index" asp-controller="TblUsers">Users Table</a></p>
