@model PROG6212P.O.E.Models.Base

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Base</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <select asp-for="UserName" class ="form-control" asp-items="ViewBag.UserName"></select>
            </div>
            <div class="form-group">
                <label asp-for="Income" class="control-label"></label>
                <input asp-for="Income" class="form-control" />
                <span asp-validation-for="Income" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tax" class="control-label"></label>
                <input asp-for="Tax" class="form-control" />
                <span asp-validation-for="Tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Groceries" class="control-label"></label>
                <input asp-for="Groceries" class="form-control" />
                <span asp-validation-for="Groceries" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterLights" class="control-label"></label>
                <input asp-for="WaterLights" class="form-control" />
                <span asp-validation-for="WaterLights" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Travel" class="control-label"></label>
                <input asp-for="Travel" class="form-control" />
                <span asp-validation-for="Travel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Other" class="control-label"></label>
                <input asp-for="Other" class="form-control" />
                <span asp-validation-for="Other" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
